{% extends 'base.html.twig' %}

{% block body %}	
	{{ include('partialheader.html.twig') }}
	
	<div class="jumbotron">
		<h1>Contact</h1>
		Dear {{name}}
		<p>Please contact to: {{mail}}</p>
	</div>	

	LANG: {{lang}}

	{% for flashmsg in app.session.flashbag.get('msg') %}
		<div class="alert alert-success" role="alert">
        	{{flashmsg}}
      	</div>
	{% endfor %}
	
    {{render(controller('AppBundle:Default:footer'))}}

     <p><a href="{{path('homepage')}}">Home</a></p>
{% endblock %}

{% block title %}
	First
{% endblock %}
