{% extends 'base.html.twig' %}

{% block body %}
	<h1>{{page_title}}</h1>
	{{ include('partialheader.html.twig') }}

		<div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Names</h3>
            </div>
            <div class="panel-body">
              	<ul>
					{#Comentario #}
					{% for per in arr_per %}
						<li>{{per.nombre | striptags | slice (0,5)}}...</li>
					{% endfor %}
				</ul>
            </div>
        </div>

    Date {{ 'next Monday' | date('M j, Y') }}

    <p><a href="{{path('contact')}}">Contact</a></p>

    <p><a href="{{url('contact')}}">Contact from another site</a></p>

    {{render(controller('AppBundle:Default:footer'))}}
{% endblock %}

{% block title %}
	First
{% endblock %}
