{% extends 'base.html.twig' %}

{% block body %}	
	{{ include('partialheader.html.twig') }}
	
	<div class="jumbotron">
		<h1>Hi!</h1>
		<p>{{name}}, {{last}}</p>
	</div>	

	<ul>
		<li>edad: {{age}}</li>
		<li>sexo: {{genere}}</li>
		<li>color: {{app.request.query.get('colour')}}</li>
	</ul>	

    {{render(controller('AppBundle:Default:footer'))}}

     <p><a href="{{path('homepage')}}">Home</a></p>
{% endblock %}

{% block title %}
	First
{% endblock %}
